<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Change || Delete game</h2>
            <table class="table table-striped">
                <tr>
                    <th>Edit</th><th>Hemmalag</th><th>Bortalag</th>
                    <th>Poäng hemma</th><th>Poäng borta</th><th>Remove</th>
                </tr>
                <tr ng-repeat="game in games">
                    <td><button class="btn btn-success">Edit</button></td>
                    <td>{{resolveTeam(game.hemmalag)}}</td>
                    <td>{{resolveTeam(game.bortalag)}}</td>
                    <td>{{game.poanghemma}}p</td>
                    <td>{{game.poangborta}}p</td>
                    <td><a ng-click="removeGame(game.id)">x</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
